replace or change datatype mean if we replace the data then how to change its datatype according to other

In [17]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_csv("excel2.csv")
data.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Loan_Amount,Loan_Amount_Term
0,LP000,Female,Yes,2.0,Not Graduate,No,7353,665,12
1,LP001,Male,Yes,1.0,Graduate,No,5971,347,360
2,LP002,Female,Yes,3.0,Graduate,Yes,3110,485,240
3,LP003,Male,No,1.0,Not Graduate,No,6020,335,36
4,LP004,Female,No,1.0,Not Graduate,No,7812,344,36
5,LP005,Male,Yes,2.5,Graduate,No,4103,376,120
6,LP006,Male,No,NaN,Not Graduate,No,6975,313,240
7,LP007,Female,No,0.0,Graduate,Yes,2742,317,12
8,LP008,Male,Yes,1.0,Graduate,No,4892,116,36
9,LP009,Male,No,2.0,Not Graduate,No,1628,302,360

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Loan_ID           100 non-null    object
 1   Gender            100 non-null    object
 2   Married           100 non-null    object
 3   Dependents        67 non-null     float64
 4   Education         100 non-null    object
 5   Self_Employed     100 non-null    object
 6   Applicant_Income  100 non-null    int64
 7   Loan_Amount       100 non-null    int64
 8   Loan_Amount_Term  100 non-null    int64
dtypes: float64(1), int64(3), object(5)
memory usage: 7.2+ KB

In [19]:
data["Dependents"].value_counts()

Dependents
1.0    22
2.0    16
2.5    13
0.0    10
3.0     6
Name: count, dtype: int64

In [59]:
data["Dependents"].fillna(data["Dependents"].mode()[0],inplace=True)

In [60]:
data.isnull().sum()

Loan_ID             0
Gender              0
Married             0
Dependents          0
Education           0
Self_Employed       0
Applicant_Income    0
Loan_Amount         0
Loan_Amount_Term    0
dtype: int64

# Replace Method

In [57]:
data["Dependents"].replace("3","4") # is tariqa sa hm 3 ko 4 sa replace kr da ga
# data["Dependents"].replace("3","4",inplace=True) sae tariqa ye ha lakin inplace pta nhi work nhi kr rabs
# inplace use hota taka wo data opr b change ho jay

0     2.0
1     1.0
2     4.0
3     1.0
4     1.0
     ...
95    1.0
96    1.0
97    1.0
98    1.0
99    1.0
Name: Dependents, Length: 100, dtype: float64

In [63]:
data["Dependents"].value_counts() # ye 3 replace ho gya 4 sa

Dependents
1.0    55
2.0    16
2.5    13
0.0    10
4.0     6
Name: count, dtype: int64

# change data type

In [67]:
data["Dependents"] = data["Dependents"].astype("int64") # ye hmna iski data type change kr li 
#  sath hi isko replace n kr diya orignal sa so hmari data type change ho gay

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Loan_ID           100 non-null    object
 1   Gender            100 non-null    object
 2   Married           100 non-null    object
 3   Dependents        100 non-null    int64
 4   Education         100 non-null    object
 5   Self_Employed     100 non-null    object
 6   Applicant_Income  100 non-null    int64
 7   Loan_Amount       100 non-null    int64
 8   Loan_Amount_Term  100 non-null    int64
dtypes: int64(4), object(5)
memory usage: 7.2+ KB